#cloud-config
write_files:
  - path: /etc/caddy/Caddyfile
    permissions: '0644'
    content: |
      ${domain} {
        proxy  / http://localhost:10000 {
          transparent
          websocket
        }
        root   /var/www/${domain}
        log    stdout
        errors stdout
      }
  - path: /etc/systemd/system/caddy.service
    content: |
      [Unit]
      After=network-online.target
      Wants=network-online.target
      
      [Service]
      User=www-data
      Group=www-data
      Environment=CADDYPATH=/var/www/${domain}
      RestartSec=10
      Restart=always
      LimitNOFILE=32768
      LimitNPROC=512
      TimeoutStartSec=300
      ExecStart=/usr/local/bin/caddy --conf=/etc/caddy/Caddyfile
      ExecReload=/bin/kill -USR1 $MAINPID
      
      [Install]
      WantedBy=multi-user.target
  - path: /etc/systemd/system/docker.service
    content: |
      [Unit]
      BindsTo=containerd.service
      After=network-online.target firewalld.service containerd.service
      Wants=network-online.target
      Requires=docker.socket
      
      [Service]
      Type=notify
      ExecStart=/usr/bin/dockerd -H fd:// --containerd=/run/containerd/containerd.sock --storage-driver=overlay2
      ExecReload=/bin/kill -s HUP $MAINPID
      TimeoutSec=0
      RestartSec=2
      Restart=always
      LimitNOFILE=infinity
      LimitNPROC=infinity
      LimitCORE=infinity
      TasksMax=infinity
      Delegate=yes
      KillMode=process
      
      [Install]
      WantedBy=multi-user.target
  - path: /etc/systemd/system/contained.service
    content: |
      [Unit]
      After=docker.service containerd.service
      Wants=docker.service
      
      [Service]
      Type=simple
      ExecStart=/tmp/setup-contained.af.sh
      TimeoutSec=infinity
      RemainAfterExit=yes
      
      [Install]
      WantedBy=multi-user.target
  - path: /tmp/setup-contained.af.sh
    permissions: '0755'
    content: |
      #!/bin/bash
      
      sudo -u ubuntu /bin/bash -c " \
        go get -u -v github.com/kinvolk/contained.af; \
        cd /home/ubuntu/go/src/github.com/kinvolk/contained.af; \
        git checkout dongsu/kinvolk-demo; \
        make dev; \
        make dind; \
        make run; \
      "
packages:
  - apt-transport-https
  - ca-certificates
  - curl
  - git
  - gnupg-agent
  - golang
  - iptables
  - software-properties-common
  - systemd
runcmd:
  - apt-key adv --recv-keys 0EBFCD88
  - add-apt-repository "deb https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
  - apt-get -y install docker-ce docker-ce-cli containerd.io
  - usermod -aG docker ubuntu
  - systemctl start docker.service
  - systemctl enable docker.service
  - systemctl start contained.service
  - systemctl enable contained.service
  - curl https://getcaddy.com | bash -s personal
  - chown root:root /usr/local/bin/caddy
  - chmod 755 /usr/local/bin/caddy
  - setcap 'cap_net_bind_service=+ep' /usr/local/bin/caddy
  - mkdir -p /var/www
  - chown -R www-data:www-data /var/www
  - systemctl enable caddy.service
  - systemctl start caddy.service
